body, html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

.nav-title {
	margin: 0;
	padding: 0;
	text-align: center;

}

.nav-bar {
	width: 100%;
	min-height: 40px;
	background: #A3E0D5;
}

.buttons {
	margin: 0 auto;
	text-align: center;
	padding: 10;
	height: 40px;
	margin: 10px;
}

.inputs {
	text-align: center;
	margin: 10px;
}

.quote-item {
	text-align: left;
	font-size: 1.6em;
}

